 <a (click)="navigateToItems()">back </a>
 <!-- Default box -->
 <div class="card card-solid">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div *ngIf="itemDetails.itemImages && itemDetails.itemImages.length > 0; else deFaultImageElseBlock " class="col-12">
            <img #selectedImage [src]="'http://localhost:55652/'+itemDetails.itemImages[0].url" class="product-image" [alt]="itemDetails.itemImages[0].name">
          </div>
          <ng-template #deFaultImageElseBlock>
            <img #selectedImage src="assets/img/AtayaLogo.png" class="product-image" alt="Product Image">
          </ng-template>

          <div  class="col-12 product-image-thumbs">
            <div *ngFor="let itemImage of itemDetails.itemImages" class="product-image-thumb active">
              <img  #image (click)="onImageChange(image)"  [src]="'http://localhost:55652/'+itemImage.url"  [alt]="itemImage.name">
           
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <h3 class="my-3">{{itemDetails.name}}</h3>
          <p> {{itemDetails.description}}   </p>

          <hr>
          <h4>المواصفات</h4>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-default text-center active">
              <input type="radio" name="color_option" id="color_option_a1" autocomplete="off" checked>
              الكود
              <br>
              <span class="badge bg-danger ">{{itemDetails.code}} </span>
              
            </label>
            <label class="btn btn-default text-center">
              <input type="radio" name="color_option" id="color_option_a2" autocomplete="off">
            الكمية الإجمالية
              <br>
              <h1 class="badge bg-warning ">{{itemDetails.totalQuantity}} </h1>
            </label>
            <label class="btn btn-default text-center">
              <input type="radio" name="color_option" id="color_option_a3" autocomplete="off">
              التصنيف
              <br>
              <span class="badge bg-gradient-light ">{{itemDetails.itemCategoryName}} </span>
            </label>
            <label class="btn btn-default text-center">
              <input type="radio" name="color_option" id="color_option_a4" autocomplete="off">
              النوع
              <br>
              <span class="badge bg-gradient-maroon ">{{itemDetails.itemTypeName}} </span>

            </label>
            <label class="btn btn-default text-center">
              <input type="radio" name="color_option" id="color_option_a5" autocomplete="off">
              الحالة
              <br>
              <span  *ngIf="itemDetails.isActive; else elseBlockNotActive" class="badge bg-gradient-olive ">مفعل</span>
              <ng-template #elseBlockNotActive>
                <span class="badge bg-gradient-olive ">غير مفعل</span>            
              </ng-template>

            </label>
          </div>          

          <div class="bg-gray py-2 px-3 mt-4">
            <h2 class="mb-0">
              السعر
            </h2>
            <h4 class="mt-0">
              <small>{{itemDetails.price}}</small>
            </h4>
          </div>

          <div class="mt-4">
            <p class="lead">تفاصيل الكمية الموجودة</p>

            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr *ngFor="let warehouseItem of itemDetails.warehouseItems">
                    <th style="width:50%">{{warehouseItem.warehouseName}}</th>
                    <td>{{warehouseItem.quantity}}</td>
                </tr>
                
              </tbody></table>
            </div>
          </div>
          
          <div class="mt-4">
            <button (click)="getItemOperations()" class="btn btn-success btn-lg btn-flat">
              <i class="fas fa-caravan fa-lg mr-2"></i>
              عرض حركات المادة
            </button>
            
            <div class="btn btn-primary btn-lg btn-flat">
              <i class="fas fa-cart-plus fa-lg mr-2"></i>
              إضافة إلى السلة
            </div>
            
          </div>

        </div>
      </div>

      <div class="row mt-4">
        <nav class="w-100">
          <div class="nav nav-tabs" id="product-tab" role="tablist">
            <a *ngIf="itemOperations" class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">حركات المادة</a>
          </div>
        </nav>
        <div *ngIf="itemOperations" class="tab-content p-3" id="nav-tabContent">
          <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
            <app-item-operations [itemId]="itemId" [itemOperations]="itemOperations"></app-item-operations>
          </div>
        </div>
      </div>
     
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->