 <!-- Home -->
 

 <div class="container-fluid">
    <img src="assets/img/AtayaLogo.png" 
      style=" display: block;
        position:absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        background: #00000000;
        opacity: .5;"  
        alt="User Image">
    <!-- Info boxes -->
    <div class="row"> 
      <div class="col-12 col-sm-6 col-md-3" >
        <div class="info-box">
         
          <span class="info-box-icon bg-info elevation-1">
            <a [routerLink]="['/warehouses']">
              <i class="fas fa-table"></i>          
            </a>
          </span>

          <div class="info-box-content">
              <span class="info-box-text"> 
                المصانع والمخازن

            </span>
            <span class="info-box-number">
              2
              <small></small>
            </span>
            
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-danger elevation-1">
            <a [routerLink]="['/itemCategories']">

              <i class="fas fas fa-th-large"></i>
            </a>

          </span>

          <div class="info-box-content">
            <span class="info-box-text">الأصناف</span>
            <span class="info-box-number">3</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1">
            <a [routerLink]="['/items']">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">المنتجات</span>
            <span class="info-box-number">2</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1">
            <a [routerLink]="['/employees']">
            <i class="fas fa-users"></i>
            </a>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">إدارة العمال</span>
            <span class="info-box-number">55</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
       
      </div>
    </div>
    
   
   

  
  </div><!--/. container-fluid -->